@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dancing+Script&family=Oswald:wght@300&family=Poppins&display=swap');
html {
    scroll-behavior: smooth;
    cursor: none;
}
body{
    background-color: #260320;
    font-family: 'Poppins', sans-serif;
    font-size: 1.2vw;
    margin:0%;
    overflow-x: hidden;
}
span{
    margin: 0%;
    padding: 0%;
}


a:hover {
    cursor: none;
  }
.cursor{
    position:fixed;
    width:15px;
    height:15px;
    background-color: #b0e413;
    border-radius: 50%;
    transition: 0.1s;
    transform: translate(-50%,-50%);
    mix-blend-mode: difference;
    pointer-events: none;
}
ul li:hover ~.cursor{
    transform: scale(4);
}


.intro{
    position: fixed;
    width:100vw;
    height:100vh;
    left:0;
    top:0;
    z-index: 1;
    background-color: #08415C;
    transition: 1s;
}
.Welcome{
    position: absolute;
    margin-top:47vh;
    margin-bottom:50vh;
    margin-left:3vw;
    min-width: 60%;
    line-height: 5vh;
}
.logo{
    font-size: 25vw;
    position: relative;
    display: inline-block;
    bottom: -10vh;
    opacity:0;
}
.logo.active {
    bottom: 0vh;
    opacity:1;
    transition: cubic-bezier(.01,-0.42,0,.99) 0.8s;
}
.logo.fade{
    bottom: 10vh;
    opacity: 0;
    transition: ease-in-out 0.3s;
}


body{
    width:100vw;
    height:100vh;
    color:#2bcfae;
}
h1{
    color:#b0e413;
    font-size:18vw;
    font-weight: 400;
    line-height: 0.9;
    margin:0%;
    font-family: "Bebas Neue";
}
ul{
    margin: 0%;
}
h2{
    color:#b0e413;
    font-size: 7vw;
    font-weight: 300;
    line-height: 0.9;
    margin:0%;
    font-family: "Bebas Neue";
}
.main{
    display:block;
}
.projects{
    margin:10vh 5vw 10vh 0;
}


.navigation{
    position: fixed;
    top:0%;
    left:0%;
    height:100vh;
    width:20vw;
    padding-top: 25vh;
    line-height: 1;
}
nav li{
    list-style-type: none;
    padding: 2vh 0 2vh 0;
}
nav a{
    text-decoration: none;
    font-size:2vw;
    color:#08415C;
}
nav a:hover{
    color:#2bcfae;
}
nav a:active{
    color:white;
}

.main{
    margin-left: 20vw;
}
.section-head{
    display: flex;
    align-items: center;
    text-align: right;
    justify-content: right;
    height:100vh;
    margin-right: 10vw;
}
.section1{
    display: flex;
    text-align: right;
    justify-content: center;
    height:100vh;
    margin-top: 15vh;
    padding:20vh 10vw 0 15vw;
}
.sect-proj{
        display: flex;
        text-align: right;
        justify-content: center;
        margin-top: 15vh;
        margin-right: 0;
}

.cv{
    display:inline-block;
    padding:0.35em 1.2em;
    margin:0 0.3em 0.3em 0;
    margin-top: 10vh;
    border-radius: 0%;
    border: 2px solid #08415C;
    background-color: #260320;
    color:#2bcfae;
    font-family: 'Poppins',sans-serif;
}
.cv:hover{
    cursor: none;
    background-color: #08415C;
}

img{
    width:60vw;
    max-width:918px;
    align-items: center;
    justify-content: left;
    padding-left: 2vw;
    margin-right:3vw;
}
.notes{
    background-color: #DBCFB0;
    color: #262523;
    height:100vh;
    padding:3vh 5vw 0 2vw;
    font-family: 'Oswald','sans-serif';
    font-size: 1.5rem;
}
h3{
    font-family: 'Dancing Script',cursive;
    font-size:4vw;
    line-height: 1;
    margin-top: 2vh;
    margin-bottom:0;
}
.seewindow{
    display: flex;
    margin-top: 10vh;
}
.buttons{
    padding: 10vh 0;
}
.buttons button{
    display:inline-block;
    padding:0.35em 1.2em;
    margin:0 0.3em 0.3em 0;
    background-color: #DBCFB0;
    color: #262523;
    cursor: none;
    border: 1px solid #262523;
    box-sizing: border-box;
    font-family: 'Oswald','sans-serif';
}
.buttons button:hover{
    background-color: #262523;
    color: #DBCFB0;
}

.ContactPage{
    background-color: #262523;
    height:75vh;
    display:flex;
    padding:10vh 0vw 0 15vw;
}
.ContactPage h2{
    font-size: 5rem;
}
.headingContact{
    width:45vw;
    margin-right: 0%;
}

.link{
    width:30vw;
    height:20vh;
    line-height: 11vh;
    margin: 7vh 0vh 0 30vh;
    font-family: 'Bebas Neue';
    font-size: 2vmax;
}
.link a{
    text-decoration: none;
    color:#DBCFB0
}




@media screen and (max-width :420px){
    body{
        font-size: 5vw;
    }
    .intro{
        width:100vw;
        height:100vh;
    }
    .Welcome{
    position: absolute;
    margin-top:45vh;
    margin-bottom:50vh;
    margin-left:25vw;
    min-width: 60%;
    line-height: 5vh;
    }
    .navigation{
        display: none;
    }
    .main{
        width:100vw;
        margin-left: 0;
    }
    .section-head{
        text-align: center;
        justify-content: right;
        height:100vh;
        margin-right:0;
        padding-left:5vw;
        padding-right:5vw;
    }
    .section1{
        text-align: center;
        align-items: center;
        height:100vh;
        margin-top: 15vh;
        padding:0vh 5vw 0 5vw;
    }
    h1{
        font-size:30vw;
    }
    h2{
        font-size: 20vw;
    }
    .sect-proj{
        text-align: center;
    }
    h3{
        font-size: 10vw;;
    }
    .notes{
        width:100vw;
        padding:5vh 25vw;
        font-size: 5vw;
    }
    .seewindow{
        display: block;
        text-align: center;
        width:100vw;
        margin-top: 10vh;
    }
    img{
        width:100vw;
        padding:0;
    }
    .ContactPage{
        background-color: #262523;
        width:100vw;
        height:75vh;
        display:block;
        padding: 20vh 25vw;
    }
    .link{
        font-size: 8vw;
        padding:0 7vw;
        margin:0;
    }
}